:root{
 --primary: #a48d78;
 --secondary:#c8b9a4;
 --oat:#e6dac8;
 --mist:#f4f1ea;
 --white:#faf9f6;
 --swiper-navigation-size: 60px;
 --bg:#F6F3EC;
 --text:#4B3B35;
 --teal:#006D6D;
 --darkteal:#004F4F;
 --rose:#CE9777;
 --foot: #863D28;
 --amber:#C68A2A;
 --plum:#863D28;
 --softbeige:#E5C2A7;
 --brown:#3A2D28;
 --taupe:#5C4A42;
}
#faqs{
  /* background: var(--white)!important; */
}
.container {
  margin: 0 auto;
  padding: 4rem;
  width: 90%;
}
.accordion ul{
    list-style-type:circle!important;
}
.accordion ul li{
list-style-type: circle;
padding: 0 2rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid var(--taupe);
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--brown);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--taupe);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--brown);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--primary);
  border: 1px solid var(--secondary);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  color:var(--rose);
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--brown);
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
 max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  
  
}
.accordion .accordion-content {
  opacity: 0;
   max-height: 0;
  overflow: auto;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  color:var(--brown);
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem;
  color: var(--taupe);
}

