*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato',sans-serif;
    background: var(--mist);
}
h1,h2,h3{
    font-family: 'Gotu',sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: 400;
}
h3{
    font-weight: 100;
}
p{
    line-height: 1.5;
}
:root{
 --primary: #a48d78;
 --secondary:#c8b9a4;
 --oat:#e6dac8;
 --mist:#f4f1ea;
 --white:#faf9f6;
}
nav{
    width: 100%;
    background: var(--white);
    position: fixed;
    top:0;
    z-index: 10;
}
.cta button:hover{
    cursor: pointer;
    background: var(--secondary);
    color: var(--white);
    border: 1px solid var(--secondary);
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.cta button,.card button,.buttons button{
    border: 1px solid var(--primary);
    border-radius: 30px;
    width: max-content;
    padding: .6rem 1rem;
    background: var(--mist);
    color:var(--primary);
    font-size: 1rem;
    transition: .3s ease;
}
.buttons button{
    background-color: var(--primary);
    color:var(--mist);
    cursor: pointer;
}
.buttons button:hover{
    background: var(--white);
    color:var(--primary);
}

.logo{
    width: 120px;
    height: 80px;
    position: relative;
}
.logo img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* margin-top:-5px; */
    /* padding:.5rem; */
}
.navbar{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    gap:20px;
    font-size: 1.2rem;
    transition: .3s ease;
}
.nav-links li:hover .nav-links li{
    border-bottom: 1px solid var(--primary);
    scale: 1;
    
}
.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropbtn {
  background-color:var(--white);
  color: var(--primary);
  /* padding: 16px; */
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: var(--primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */


.nav-links li{
    scale: 0.95;
    transition: .3s ease;
    
}
a{
    text-decoration: none;
    color:var(--primary);
}
.sticky-cta{
    position: fixed;
    bottom:10%;
    left:-190px;
    z-index: 10;
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease;
    background: var(--mist);
    cursor: pointer;
    border:1px solid black;
}
.sticky-cta img{
    width: 28px;
    object-fit: contain;
    transition: .3s ease;
}
.sticky-cta.active{
    left:0;
}
.sticky-cta.active:hover > img{
    transform: translateX(-15px) rotateY(180deg);
}
.sticky-cta.active > img{
    transform: rotateY(180deg) translateX(10px);
    transition: .3s ease;
}
.sticky-cta .cta button{
    /* width: 0; */
    /* opacity: 0; */
    border-radius: 0;
    border: 0;
}
.sticky-cta:hover > img{
transform: translateX(3px);
}
section{
    width: 100%;
    min-height: 90vh;
    position: relative;
    top:10vh;
}
.wrapper{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
#hero{
    min-height: 100vh;
}
#hero .hero-headings{
    text-align: center;
}
#hero img,#hero video{
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(.5);
}
#hero .cta button{
    width: auto;
    padding:1rem 1rem;
    background: var(--primary);
    color:var(--white)
}
#hero .cta button:hover{
    background: var(--mist);
    color: var(--primary);
}
.hero-headings{
  position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 35%;
    /* left: 5%; */
    color: var(--mist);
    /* width: 45%; */
    /* height: 85%; */
    justify-content: center;
    align-items: center;
}
.hero-headings h1{
    /* width: 65%; */
    line-height: 1.2;
}
#about{
    height: 90vh!important;
    min-height: 0!important;
}
#about img{
    width: 130px;
}
.img-wrap{
    
}
#about .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    text-align: center;
    gap:20px;
    
}
#about h2{
    font-size: 1.8rem;
    width: 65%;
    color:var(--primary);
    color: black;
}
#about h4{
    /* color:var(--secondary); */
    color:#877459;
    font-size: 1.1rem;
    font-weight: 400;
    width: 65%;
    line-height: 1.5;
    /* opacity: .5; */
}

/*split screen */
#third{
    background: var(--primary);
    
}
#third h2{
    color: var(--mist);
    font-size: 3rem;
    position: absolute;
    z-index: 3;
    top:50px;
    /* padding-top: 50px; */
    
}


.gallery h3 {
	font-size:clamp(2rem, 3vw, 6em);
    color:var(--white);
}

.gallery p {
	font-size:clamp(1rem, 1.5vw, 1.5em);
	line-height:1.4;
    color: var(--oat);
    width: 85%;
}


.gallery {
  display:flex;	
  /* outline:1px solid red; */
}

.left {
	width:45vw;
    position: relative;
    left:0!important;
}

.right {
	height:100vh;
	/* outline:1px solid purple; */
	width:60%;
	display:flex;
	flex-direction:column;
	justify-content:center;
    align-items: center;
    right:0!important;
}

.desktopContent {
	margin:auto;
	/* width:80%; */
}

.desktopContentSection {
	min-height:100vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
    gap:20px;
}
.desktopContentSection button{
    width: auto;
    padding:1rem;
    background-color: var(--mist);
    border-radius: 30px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--secondary);
    /* color:var(--oat); */
}

.desktopPhotos {
	width: 30vw;
    height: 25vw;
	border-radius:20px;
	position:relative;
	overflow:hidden;
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}
.desktopPhoto img{
    position:absolute;
	width:100%;
	height:100%;
    object-fit:cover;
}








/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto img{
	width:80vw;
	height:80vw;
	margin-top:5em;
	border-radius:6vw;
    object-fit: cover;
}


#testimonials{
position: relative;
}
#testimonials .bg{
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
/* opacity: .5; */
object-fit: cover;
filter: brightness(.6);
}
/* services section */
#services h2,#testimonials h2{
    margin:20px auto 10px auto;
    color: var(--primary);
    font-size:3rem;
}
#testimonials h2{
    color:var(--mist);
}
.service-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    /* width: 85%; */
    padding:1rem;
    gap:40px 20px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:2rem; */
    gap:10px;
    text-align: center;
    border: 2px solid var(--oat);
    border-radius: 16px;
    width: 100%;
    transition: .3s ease;
}
.card:hover{
    scale: 1.05;
}
.card img{
    width: 100%;
    height: 350px;
    border-radius: 15px 15px 0 0 ;
    background: var(--mist);
}

.card p{
    width: 90%;
    font-weight: 300;
    line-height: 1.5;
}
.card h3{
    font-size: 1.2rem;
    color: var(--primary);
    margin:5px auto;
}
.card button{
    margin:5px auto 10px auto;
}
.card button:hover{
    background-color: var(--primary);
    cursor: pointer;
}
.card button:hover a{
    color:var(--white);
    
}
.card a{
    border-radius: 25px;
    padding: 0;
}
.card span,.card h3{
    font-weight: 600;
}
.card span{
    color:var(--primary);
    font-size: 1.5rem;
}
footer{
    position: relative;
    top:10vh;
}
footer .logo{
  order:1;
}
.footer-socials h3{
margin-top: -25%;
}
.footer-socials img{
    width: 30px;
    height: 30px;
}
.footer-container{
    display: flex;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    /* color: var(--primary)!important; */
}
footer,.footer-wrap,.footer-socials{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    gap:10px;
    padding: 2rem 0;
    height: 100%;
}
.footer-wrap h4{
    font-size: 1.2rem;
}
.footer-wrap span{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}
.footer-wrap{
    display: flex;
}
footer p{
    font-weight: 300;
    /* margin:20px auto; */
    font-size: .8rem;
}
#news {
/* background-image: url('../assets/images/home-1-background-4.webp')!important; */
display: grid;
place-items: center;
}
#news .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .5;
}
.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.left-holder{
    width: 30vw;
    height: 500px;
    position: relative;
}
.left-holder img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.right-holder{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left:40px;
    gap:10px;
}
.right-holder h2{
    color:var(--primary);
}
.right-holder h4{
    color:var(--primary);
    font-size: 1.5rem;
}
.right-holder p{
    color:var(--secondary);
    font-size: 1.1rem;
}
.form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    margin-top:20px;
}
.form input{
    width: 250px;
    padding:1rem;
    border-radius: 30px;
    /* border: 0; */
}
.form button{
    width: 150px;
    padding: 1rem;
    border-radius: 30px;
    border: 0;
    background: var(--oat);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    color:var(--white);
}
.close{
    position: absolute;
    right:5%;
    top:40%;
    display: none;
}
.close.active .bar:nth-of-type(1){
 transform: rotateZ(45deg) translateY(7px);
}
.close.active .bar:nth-of-type(2){
    opacity: 0;
}
.close.active .bar:nth-of-type(3){
 transform: rotateZ(-45deg) translateY(-7px);
}
.bar{
    width: 20px;
    height: 3px;
    background: black;
    margin:2px auto;
    transition: .3s ease;
}

/* swiper  */
.swiper {
      width: 100%;
      height: 100%;
      margin-top:5%;
    }
.swiper-button-next,.swiper-button-prev{
    color:var(--primary)!important;
}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      font-family: 'Lato',sans-serif!important;
      background: #faf9f6ef;
      display: flex!important;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      padding: 2rem 5rem;
      gap:10px;
      text-align: left!important;
      /* width: 85%!important; */
      /* margin:0 auto!important; */
      text-align: left;
      height: 50vh!important;
      
    }
.swiper-slide h3{
    margin:40px 40px 0 auto;
    text-align: right;
    color:var(--primary);
}
.swiper-slide p{
    text-align: left;
}
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* services page */
    #services-hero h1,#about-hero h1,#enforme-hero h1{
        color:var(--white);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size: 5rem;
        width: 100%;
        display: inline;
        text-align: center;
        /* font-family: 'Lato',sans-serif; */
    }
    #about{
        background: var(--secondary);
        height: 100%!important;
        padding:50px 0;
    }
    #about .wrapper{
        /* flex-direction: row;  */
        gap:40px;
    }
    #about .wrap{
        display: flex;
        flex-direction: column;
        gap:10px;
        justify-content: center;
    }
    #about h4{
        width: 60%;
        color:var(--white);
    }
    #about img{
        width: 400px;
        /* height: 450px; */
    }
#services-hero, #about-hero,#enforme-hero{
    top:10vh;
    min-height: 70vh;
}
#services-hero img, #about-hero img,#enforme-hero img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(.6);
    z-index: -1;
}   

#all-services h3{
    margin-top:50px;    
    width: 65%;
    color:var(--primary);
    text-align: center;
}
.all-services{
    display: flex;
    flex-direction: column;
    gap:40px;
    margin-top: 40px;
    width: 100%;
}
.serv{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 65%;
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
	

}
@media screen and (min-width:280px) and (max-width:599px) {
    h1{
        font-size: 2rem;
    }
    .hero-headings{
        text-align: center;
    }
    #about h2{
        font-size: 1.5rem;
        width: 90%;
    }
    #about h4{
        width: 90%;
    }
.service-wrapper{
    grid-template-columns: 1fr;
}    
.holder{
    flex-direction: column;
}
.left-holder,.right-holder{
    width: 85%;
    margin: auto;
    /* padding:1rem; */
}

.form input{
    width: 200px;
}
.wrapper,.service-wrapper{
    width: 100%;
}
.navbar{
    flex-direction: column;
}
.nav-links{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left:-100%
}
.close {
    display: block;
    z-index: 11;
}
nav .cta{
    display: none;
}
.logo{
    height: 80px;
    z-index: 11;
}
.nav-links.active{
    width: 100%;
left:0;
z-index: 10;
background: var(--mist);
}
}